@model List<Marca>

@{
    ViewData["Title"] = "Marcas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><strong>Marcas de Alimentos</strong></h1>

<div class="card text-center  bg-success text-white">
    <div class="card-header">
        <strong>Administracion de Alimentos</strong>
    </div>
    <div class="card-body">
        <a asp-action="Crear"
           class="btn btn-warning"><i class="fa-solid fa-user-plus me-2"></i>Agregar Nueva Marca</a>
    </div>
</div>

<hr />

<table class="table table-warning " >
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Editar" asp-route-idMarca="@item.Id"><i class="fa-solid fa-pen-to-square me-2"></i></a> |
                <a asp-action="Details" asp-route-idMarca="@item.Id"><i class="fa-solid fa-circle-info me-2"></i></a> |
                <a asp-action="Eliminar" asp-route-idMarca="@item.Id"><i class="fa-solid fa-trash-can me-2"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
